
<div class="container mt-5">
    <div class="row">
        <div class="from-group">
            <label for="">Plz Click on the input </label>
            <input type="text" class="form-control" placeholder="Snackbar Inject" (click)="onclcok(msg)">
        </div>
    </div>
</div>



<div class="container mt-5 mb-4">
    <div class="row">
        <mat-card>
      
            <mat-card-content>

                
                <div class="example-button-row">
                  <div class="example-label">Basic</div>
                  <button mat-button >Basic</button>
                  <button mat-button color="primary">Primary</button>
                  <button mat-button color="accent">Accent</button>
                  <button mat-button color="warn" >Warn</button>
                  <button mat-button disabled>Disabled</button>
                  <a mat-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>
<hr>

   <div class="container">
    <div class="row">
        <mat-card>
            <mat-card-content>
                <div class="example-button-row">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Primary</button>
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                    <button mat-raised-button disabled>Disabled</button>
                    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                  </div>
                  <hr>
                  <h1 class="mt-5">ToolTip</h1>
                    <button mat-raised-button
                        matTooltip="Info about the action"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        Action
                    </button>
            </mat-card-content>
          </mat-card>
    </div>
   </div>

   <hr>
   

   
   
  

  
     
